header {
    color:blue;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin:0 auto;
    width: 80%;
}
body {
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXLmLpggwxezEKnuI6QaaG9oboeZ8EyokQkg&s);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* or contain */;
     @media (max-width: 768px) {
     body {
    background-color: lightblue;
  }
  @media (max-width: 480px) { /* Phones */}
@media (min-width: 481px) and (max-width: 1024px) { /* Tablets */}
@media (min-width: 1025px) { /* Desktops */}
}
 
}
nav {
    position: sticky;
    color: rgb(43, 196, 175);
    padding: 20px;
    text-align: left;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10ox;
    display: flex;
    position: sticky;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;

}
p {
    color: black;
    font-size: 16px;
    line-height: 1.0;
    padding: 10px;
    font-family: 'Arial', sans-serif;
}


main h2 {
    position: sticky;
    color: green;
    font-size: 18px;
    text-align: left;
    margin-top: 20px;
}
main h3 {
    position: sticky;
    color: darkred;
    font-size: 16px;
    text-align: left;
    margin-top: 20px;
}

main p {
    color: black;
    font-size: 14px;
    line-height: 0.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: rgb(163, 6, 6);
}